:root {
  --white-color: #fff;
  --dark-color: #333;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e705e4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px var(--dark-color);
  background: var(--white-color);
  border-radius: 10px;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150ex150px');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px var(--white-color);
}

.hovered {
  background-color: var(--dark-color);
  border-color: var(--white-color);
  border-style: double;
}

/* media query for the smaller screen size */
@media(max-width: 800px) {
  body {
    flex-direction: column;
  }
}